body{
    align-content: center;
    max-width: 100%;
}


/*hero sektsiooni stiilid*/

#hero{
    width: 100%;
    height: 100rem;
}
.hero-pilt {
    background-image: url("../images/hero_pilt.jpg");
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-sisu{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(156, 167, 182);
}
/*peamenüü stiilid*/

#peamenüü{
    position: sticky;
    top: 0;
    overflow: hidden;
    text-align: center;
    z-index: 100;
}
.menüü-üksused li{
    list-style-type: none;
    display: inline-block;
    margin-right: 3rem;
}
.menüü-üksused li a{
    color: rgb(156, 167, 182);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
}
.menüü-üksused li a:after{
    display: block;
    content: "";
    border-bottom: solid 2px orangered;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 100%;
}
.menüü-üksused li a:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 100%;
}

/*ajaloo sektsiooni stiilid*/

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#ajalugu{
    text-align: center;
}
#ajajoon{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}
.sünd{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: center;
}
.sünd-sisu{
    width: 50%;
    text-align: left;
}

.aasta{
    color: white;
    background-color: #0d3b66;
    border-radius: 35px;
    padding: 0px 25px;
}
.sünd-konteiner{
    display : grid;
    align-items: left;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
}
.sünd-konteiner img{
    object-fit: cover;
}

/*tänase päeva sektsiooni stiilid*/
#tänane-päev{
    text-align: center;
    margin-bottom: 4rem;
    width: 60%;
    margin-left: 20%;
}
#tänane-päev img{
    height: 60%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.reeglid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.reeglid div{
    margin: 1rem;
    padding: 1rem;
    border: 2px ;
    border-radius: 15px;
    background-color: #eef1f4;
}
#vormid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
#vormid div{
    border-radius: 15px;
    background-color: #eef1f4;
}
#kuidas-alustada{
    background-color: #f4e7d3;
    text-align: center;
    width: 100%;
}
.alustamine{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    text-align: center;
}


footer {
    background-color: rgb(55, 55, 145);
    color: grey;
    text-align: center;
    padding: 1rem;
}