/*hero sektsiooni stiilid*/

#hero{
    width: 100%;
    height: 100rem;
}
.hero-pilt {
    background-image: url("../images/hero_pilt.jpg");
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-sisu{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(156, 167, 182);
}
/*peamenüü stiilid*/

#peamenüü{
    position: sticky;
    top: 0;
    overflow: hidden;
    text-align: center;
    z-index: 100;
}
.menüü-üksused li{
    list-style-type: none;
    display: inline-block;
    margin-right: 3rem;
}
.menüü-üksused li a{
    color: rgb(156, 167, 182);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
}
.menüü-üksused li a:after{
    display: block;
    content: "";
    border-bottom: solid 2px orangered;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 100%;
}
.menüü-üksused li a:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 100%;
}

/*ajaloo sektsiooni stiilid*/

#ajalugu{
    text-align: center;
}




footer {
    background-color: rgb(55, 55, 145);
    color: grey;
    text-align: center;
    padding: 1rem;
}